[program:spider-worker]
user=vagrant
command={{ work_dir }}/venv/bin/rqworker -c rq
process_name=%(program_name)s-%(process_num)02d
directory={{ work_dir }}/www/conf
environment=PATH="{{ work_dir }}/venv/bin"
numprocs=1
numprocs_start=1
stopsignal=TERM
redirect_stderr=true
stdout_logfile={{ work_dir }}/www/log/spider-worker-%(process_num)02d.log
stderr_logfile={{ work_dir }}/www/log/spider-worker-%(process_num)02d.log
autostart=true
autorestart=true
